---
name: Run tests

on:
  push:
    branches-ignore: [sync, stable]
  pull_request:
    branches-ignore: [sync, stable]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        neovim_version: ['v0.8.0', 'v0.9.0', 'v0.10.0', 'v0.11.0', 'nightly']

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: date +%F > todays-date
      - name: Restore cache for today's nightly.
        uses: actions/cache@v3
        with:
          path: _neovim
          key: ${{ runner.os }}-x64-${{ hashFiles('todays-date') }}
      - name: Setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}
      - name: Run tests
        run: make test
